body {
    background-color: #333;
    color: #fff;
    font-family: monospace;
}
.navbar {
    background-color: #333;
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
}
.navbar-brand {
    font-size: 30px;
}
.nav-item {
    padding-left: 10px;
}
#contact {
    padding-top: 15vh;
}
hr {
    border-color: lightgray;
}
table {
    width: 100%;
    text-align: center;
    padding: 50px;
    margin-bottom: 100px;
}
table a {
    color: #fff;
}
.footer {
    background-color: #333;
    z-index: 1;
    position: fixed;
    padding: 30px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer p {
    margin-bottom: 5px;
}