body {
    background-color: #333;
    color: #fff;
    font-family: monospace;
}
.navbar {
    background-color: #333;
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
}
.navbar-brand {
    font-size: 30px;
}
.nav-item {
    padding-left: 10px;
}
#project {
    height: 100vh;
    padding-top: 15vh;
}
hr {
    border-color: lightgray;
}
.footer {
    background-color: #333;
    position: fixed;
    padding: 30px;
    text-align: center;
    bottom: 0;
    width: 100%;
}